* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1100px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo {
    width: 110px;
}

.main-nav ul li {
    list-style: none;
    padding: 0 10px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid black;

}

.main-nav .main-menu {
    display: flex;
    flex: 1;
    margin-left: 10px;
}

.main-nav .right-menu {
    display: flex;
}

.menu-btn {
    display: none;
}

.showcase {
    width: 100%;
    height: 400px;
    background: url('https://i.ibb.co/zGSDGCL/slide1.png') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.showcase h2, .showcase p {
    margin-bottom: 20px;
}

.btn {
    margin-top: 20px;
    background-color: #262626;
    padding: 15px 30px;
    color:#fff;
    font-size: 15px;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.9;
}

.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

.home-cards img {
    width: 100%;
}

.home-cards h3 {
    margin: 10px 0 15px 0;
}

.home-cards p {
    margin-bottom: 10px;
}


.home-cards a {
    text-transform: uppercase;
    font-weight: bold;
    color: #0067b8;
}

.home-cards a:hover i {
    margin-left: 10px;
}

.xbox {
    width: 100%;
    height: 350px;
    background: url('https://i.ibb.co/tBJGPD9/xbox.png') no-repeat center center/cover;
    margin-bottom: 20px;
}

.xbox .content {
    width: 40%;
    padding: 50px 0 0 30px;
}

.xbox .content p {
    margin: 10px 0 25px 0;
}

/* https://codepen.io/bradtraversy/pen/ZEGGNRb */

@media(max-width: 600px) {
    .menu-btn {
        display: block;
    }
}